[Unit]
Description=Consul Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull consul
ExecStart=/usr/bin/docker run --rm --net=host --name %n consul consul agent -data-dir=/consul/data -config-dir=/consul/config -client '{{ GetPrivateInterfaces | join "address"
 " " }} {{ GetAllInterfaces | include "flags" "loopback" | join "address" " " }}'
ExecStop=/usr/bin/docker stop -t 2 %n

[Install]
WantedBy=default.target
